<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.jimmyworks.easyhttp">

	<application>
		<activity
			android:name=".activity.EasyHttpRecordActivity"
			android:exported="true"
			android:theme="@style/EasyHttpTheme" />
		<activity
			android:name=".activity.EasyHttpRecordDetailActivity"
			android:exported="true"
			android:theme="@style/EasyHttpTheme" />
		<activity
			android:name=".activity.EasyHttpCookiesActivity"
			android:exported="true"
			android:theme="@style/EasyHttpTheme" />
	</application>

</manifest>
